* {
  margin: 0;
  padding: 0;
}
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 100%;
   max-width: 100%;
   background: #f2f2f2;
}
.wrapper {
  max-width: 1200px;
  background: #f9f9f9;
}